<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".UserBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentNotification"
            android:exported="false" />
        <activity
            android:name=".RoomDetailActivity"
            android:exported="true" />
        <activity
            android:name=".RoomList"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListHotelManagerActivity"
            android:exported="true" />
        <activity
            android:name=".AddHotelActivity"
            android:exported="true" />
        <activity
            android:name=".AddRoomActivity"
            android:exported="true" />
        <activity
            android:name=".ListRoomManagerActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryManagerActivity"
            android:exported="true" />
        <activity
            android:name=".FragmentHome"
            android:exported="true" />
        <activity
            android:name=".HotelDetail"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>